*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito sans";
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button{
    border: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Yeseva One", serif;
}

img{
    width: 100%;
    object-fit: cover;
}

input::placeholder{
    color:#363636
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: #131313;
    font-size: 11px;
}

.header-footer__container{
    display: flex;
    max-width: 1256px;
    margin: 0 auto;
    align-items: center;
    padding: 23px 0;
}

.header-footer__name{
    color: #E3B873;
    margin-right: 143px;
}

.header-footer__nav_list{
    display: flex;
    gap: 46px;
    color: #fff;
}

.header-footer__nav{
    margin-right: 134px;
}

.header-footer__nav_item:hover{
    color: #E3B873;
}

.header-footer__tel{
    color: #fff;
    right: 206px;
    cursor: pointer;
    margin-right: 47px;
}

.header-footer__tel:hover{
    color: #E3B873;
    text-decoration: underline;
}

.header-footer__btn{
    font-style: italic;
    color: #fff;
    padding: 13px 33px;
    background-color: #E3B873;
    border-radius: 2px;
    width: 161px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.main__container{
    max-width: 1236px;
    margin: 0 auto;
}

.welcome{
    padding: 200px 0;
    background-image: url(../images/welcome_img.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__desc{
    color: #fff;  
    max-width: 490px;
}

.welcome__title{
    font-size: 40px;
    line-height: 132%;
    margin-bottom: 19px;
    font-weight: 400;
}

.welcome__title_color{
    color: #E3B873;
}

.welcome__text{
    font-size: 22px;
    line-height: 163%;
    margin-bottom: 41px;
}

.welcome__btn{
    font-style: italic;
    font-size: 11px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.welcome__button{
    display: flex;
    gap: 20px;
}

.bth__one{
    padding: 20px 42px;
    background-color: #E3B873;
    color: #fff; 
}

.btn__two{
    padding: 20px 23px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff; 
}

.catalog{
    background-color: #131313;
    color: #fff;
    padding: 107px 134px 414px;
}

.main__catalog{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1171px;
}

.main__catalog_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 442px;
    margin-top: 69px;
}

.main__catalog_title{
    color: #E3B873;
    line-height: 138%;
    width: 315px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 27px;
}

.main__catalog_text{
    font-size: 14px;
    line-height: 191%;
}

.main__catalog_img_mobile{
    display: none;
}

.main__catalog_info{
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
}

.main__catalog_desc{
    width: 175px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.main__catalog_desc_title{
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    font-weight: 400;
}

.main__catalog_desc_text{
    font-size: 13px;
}

.main__catalog_slider{
    width: 205px;
    cursor: pointer;
}

.main__catalog_city{
    display: flex;
    gap: 60px;
    width: 623px;
    font-family: "Yeseva One", serif;
    font-size: 14px;
    margin-bottom: 53px;
}

.main__catalog_city_text{
    text-transform: uppercase;
    opacity: 0.3;
}

.main__catalog_city_text:hover{
    color: #E3B873;
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.main__catalog_img{
    width: 679px;
    position: relative;
}

.main__catalog_city_slider{
    display: flex;
    justify-content: space-between;
    position: absolute;
    display: none;
}

.main__catalog_city_slider_img1, .main__catalog_city_slider_img2{
    width: 36px;
    height: 36px;
}

.control{
    max-width: 817px;
    margin: -320px 312px 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.control_title{
    font-size: 20px;
    font-weight: 400;
    line-height: 138%;
    text-transform: uppercase;
     color: #fff; 
    text-align: center;
    margin-bottom: 12px;
}

.control__box-decor{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 31px
}

.control__decor_line{
    background-color: #E3B873;
    width: 32px;
    height: 2px;
}

.control__decor{
    width: 32px;
    height: 28px;
}

.control__video_img{
    width: 917px;
    margin-top: -30px;
}

.control__video_play{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 250px;
}

.control__line{
    width: 55px;
    height: 2px;
    background-color: #E3B873;
    margin-bottom: 34px;
}

.control__text{
    font-size: 18px;
    line-height: 204%;
    max-width: 681px;
    text-align: center;
    color: #363636;
    margin-bottom: 91px;
}

.control__form{
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
}

.control__form_top{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 769px;
}

.control__form_top_box{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.control__form_top_box_title{
    font-size: 13px;
    color: #363636;
    opacity: 0.5;
}


.control__form_top_box_input{
    font-size: 14px;
    color: #363636;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
}

.control__form_top_btn{
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 76px 15px;
    background-color: #E3B873;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.control__form_checkbox{
    display: none;
}

.control__form_label{
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.control__form_fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.control__form_fake::before{
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.control__form_checkbox:checked + .control__form_fake::before{
    opacity: 1;
}

.control__form_text{
    font-size: 14px;
    color: #181818;
}

.types{
    max-width: 1236px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types__title{
    font-weight: 400;
    font-size: 20px;
    color: #181818;
    margin-bottom: 13px;
}

.types__decor{
    width: 114px;
    height: 28px;
    margin-bottom: 31px;
}

.types__box{
    display: flex;
    gap: 30px;
    position: relative;
    margin-bottom: 311px;
}

.types__box_card_desc{
    width: 330px;
    display: flex;
    flex-direction: column;
    padding: 25px 29px 49px 34px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: absolute;
    top: 294px;
    margin: 0 31px;
}

.types__box_card_desc_title{
    color: #363636;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 13px;
}

.types__box_card_desc_list{
    color: #959595;
    font-size: 13px;
    list-style: disc;
    line-height: 204%;
    padding-left: 11px;
}

.types__box_card_desc_btn{
    width: 228px;
    height: 54px;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    position: absolute;
    top: 560px;
}

.types__btn1{
    left: 31px;
}

.types__btn2{
    left: 453px;
}

.types__btn3{
    left: 875px;
}

.visit{
    background-image: url(../images/visit__background.png);
    background-repeat: no-repeat;
}

.visit__container{
    display: flex;
    gap: 38px 200px;
    flex-wrap: wrap;
    justify-content: end;
    max-width: 1090px;
    margin: 0 100px 0 241px;
    padding-top: 107px;
    margin-bottom: 242px;
    position: relative;
}

.visit__advantages{
    max-width: 384px;
    display: flex;
    flex-direction: column;
    gap: 102px;
    margin-top: 10px;
}

.visit__advantages_box{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.visit__advantages_box_number{
    padding: 6px 6px;
    background-color: #E3B873;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    color: #fff;
    border: 8px solid #fff;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
}

.visit__advantages_box_text{
    font-size: 14px;
    color: #363636;
}

.visit__form{
    max-width: 506px;
    background-color: #131313;
    padding: 27px 49px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.visit__form_title{
    font-family: "Nunito sans";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    max-width: 297px;
    align-self: center;
}

.visit__form_box{
   align-self: start;
   display: flex;
   flex-direction: column;
   gap: 48px; 
}

.visit__form_box_input{
    width: 408px;
}

.visit__form_box_input_title{
    font-size: 13px;
    color: #fff;
    opacity: 0.5;
}

.visit__form_box_input_desc{
    width: 408px;
    padding: 11px 0;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    background-color: inherit;
}

.visit__form_box_input_desc::placeholder{
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}

.visit__checkbox_box{
    margin-top: -32px;
}

.visit__checkbox{
    color: #fff;
}

.visit__form_btn{
    width: 213px;
    height: 51px;
    padding: 19px 21px;
    background-color: #E3B873;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    align-self: end;
}

.visit__bonus{
    width: 441px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 32px;
}

.visit__bonus_img{
    width: 92px;
    height: 92px;
    margin-bottom: -10px;
}

.visit__bonus_text{
    font-size: 18px;
    color: #E3B873;
}

.styles{
    background-image: url(../images/styles__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 137px 102px 97px 99px;
    display: flex;
    gap: 190px;
    height: 864px;
    margin-bottom: 110px;
    position: relative;
}

.styles__box{
    max-width: 1240px;
}

.styles__title{
    font-weight: 400;
    font-size: 27px;
    color: #E3B873;
    line-height: 138%;
    margin-bottom: 47px;
}

.styles__img_mobile{
    display: none;
}

.styles__list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.styles__link{
    font-size: 20px;
    color: #fff;
}

.styles__link:hover{
    color: #E3B873;
    text-decoration: underline;
    cursor: pointer;
}

.styles__box_img{
    display: flex;
    gap: 43px;
}

.styles__images{
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 353px;
    height: 940px;
    position: absolute;
}

.styles__images-1{
    top: -40px;
    right: 498px;
}

.styles__images-2{
    top: -112px;
    right: 102px;
}

.clients{
    position: relative;
    margin-bottom: 354px;
}

.clients__background{
    width: 720px;
    position: absolute;
    z-index: -1;
    top: 82px;
}

.clients__container{
    max-width: 1236px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients__title{
    font-weight: 400;
    font-size: 20px;
    color: #181818;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.clients__decor{
    width: 114px;
    height: 28px;
    margin-bottom: 24px;
}

.clients__text{
    width: 423px;
    font-size: 18px;
    color: #363636;
    text-align: center;
}

.clients__feedback{
    display: flex;
    gap: 54px;
}

.clients__feedback_card{
    width: 376px;
    padding: 24px 32px 67px 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
    position: relative;
}

.clients__feedback_card_name{
    display: flex;
    gap: 23px;
    align-items: center;
    margin-bottom: 22px;
}

.clients__feedback_card_name_img{
    width: 76px;
    height: 76px;
}

.clients__feedback_card_name_text{
    font-weight: 400;
    font-size: 18px;
    color: #181818;
    line-height: 127%;
}

.clients__feedback_card_desc{
    font-size: 13px;
    color: #959595;
    margin-top: 10px;
}

.clients__feedback_card_box{
    display: flex;
    gap: 1px;
    position: absolute;
    bottom: -27px;
    margin-left: -20px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.clients__feedback_card_btn{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff; 
    background-color: #E3B873;
    padding: 11px 14px 11px 17px;
}

.clients__feedback_card_box_img{
    width: 32px;
    height: 31px;
}

.questions__form{
    min-width: 883px;
    padding: 34px 181px;
    margin: -223px auto 0;
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.questions__form_title{
    font-family: "Yeseva One", serif;
    font-size: 20px;
    text-transform: uppercase;
}

.questions__form_box{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.questions__form_box_top{
    display: flex;
    gap: 58px;
}

.questions__form_box_input_desc{
    width: 231px;
    padding: 6px 0;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    background-color: inherit;
}

.questions__form_box_input_desc::placeholder{
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}

.questions__form_box_input_desc_bootom{
    width: 512px;
}

.questions__form_btn{
    padding: 20px 54px;
    width: 200px;
    align-self: center;
}

.map{
    margin-top: -220px;
    background: linear-gradient(rgb(24, 24, 24), rgba(24, 24, 24, 0.8));
    position: relative;
}

.map__background{
    height: 953px;
    position: absolute;
    z-index: -1;
}

.map__container{
    padding: 274px 256px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}

.map__contacts{
    width: 589px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
}

.map__contacts_text{
    font-family: "Yeseva One", serif;
    color: #E3B873;
    font-size: 20px;
    line-height: 138%;
    text-align: center;
}

.map__img_mobile{
    display: none;
}

.map__contacts_imges{
    display: flex;
    gap: 15px;
}

.map__contacts_img{
    width: 28px;
    height: 28px;
}

.map__img{
    width: 925px;
}

.footer{
    background-color: #131313;
    font-family: "Nunito sans";
    font-size: 11px;
    padding: 15px 0;
}



@media (max-width:375px) {
    .header-footer__container{
        max-width: 340px;
        justify-content: space-between;
    }

    .header-footer__name{
        margin-right: 0;
    }

    .header-footer__nav{
        display: none;
    }

    .header-footer__tel{
        margin-right: 0;
    }

    .header-footer__btn{
        display: none;
    }

    .welcome{
        padding: 85px 0 61px;
    }

    .main__container{
        max-width: 340px;
    }

    .welcome__title{
        font-size: 23px;
        margin-bottom: 16px;
    }

    .welcome__text{
        font-size: 14px;
        margin-bottom: 32px;
    }

    .welcome__button{
        flex-direction: column;
        gap: 26px;
    }

    .welcome__btn{
        padding: 19px 69px;
    }

    .catalog{
        padding: 36px 0 58px;
    }

    .main__catalog{
        width: 340px;
        flex-direction: column;
    }

    .main__catalog_left{
        margin: 0;
        width: 340px;
    }

    .main__catalog_title{
        font-size: 22px;
        margin-bottom: 22px;
    }

    .main__catalog_text{
        font-size: 11px;
        margin-bottom: 70px;
    }

    .main__catalog_img_mobile{
        display: flex;
        position: relative;
        margin-bottom: 36px;
    }

    .main__catalog_slider{
        display: none;
    }

    .main__catalog_city{
        display: none;
    }

    .main__catalog_img{
        display: none;
    }

    .main__catalog_city_slider{
        display: flex;
        width: 310px;
        justify-content: space-between;
        position: absolute;
        top: 840px;
        left: 30px;
    }

    .main__catalog_desc{
        width: 153px;
    }

    .main__catalog_desc_title{
        font-size: 14px;
    }

    .main__catalog_desc_text{
        font-size: 11px;
    }

    .control{
        background-color: #131313;
        margin: -1px auto 0;
        padding: 0 17px 0;
    }

    .control_title{
        color: #fff;
        font-size: 22px;
        margin-bottom: 19px;
    }

    .control__box-decor{
        margin-bottom: 40px;
    }

    .control__video_img{
        width: 385px;
        margin-bottom: 0;
    }

    .control__video_play{
        width: 70px;
        height: 70px;
        top: 160px;
    }

    .control__line{
        margin-top: 10px;
    }

    .control__text{
        font-size: 11px;
        color: #fff;
        margin-bottom: 0;
    }

    .control__form_top{
        flex-direction: column;
        width: 340px;
        gap: 0;
        position: relative;
    }

    .control__form_top_box{
        margin-top: 60px;
    }

    .control__form_top_box_title{
        color: #fff;
        opacity: 0.5;
    }

    .control__form_top_box_input{
        background-color: #131313;
        border-bottom: 1px solid #fff;
    }

    .control__form_top_box_input::placeholder{
        color: #fff;
    }

    .control__form_top_btn{
        margin-top: 106px;
        padding: 20px 124px;
        margin-bottom: -28px;
    }

    .control__form_checkbox_box{
        position: absolute;
        top: 720px;
        left: 20px;
    }

    .control__form_text{
        color: #fff;
    }

    .types{
        padding: 83px 15px 55px;
        max-width: 375px;
    }

    .types__title{
        font-size: 22px;
        margin-bottom: 17px;
    }

    .types__decor{
        margin-bottom: 40px;
    }

    .types__box{
        margin: 0;
        flex-direction: column;
        gap: 177px;
    }

    .types__box_card_desc{
        width: 270px;
        padding: 21px 41px 37px 31px;
        margin: 0;
        top: 222px;
        left: -1px;
    }

    .types__box_card_desc_title{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .types__box_card_desc_list{
        line-height: 175%;
    }

    .types__box_card_desc_btn{
        font-size: 15px;
        width: 190px;
        height: 40px;
        z-index: 2;
    }

    .types__btn1{
        top: 445px;
        left: 0;
    }

    .desc2{
        top: 785px;
    }

    .types__btn2{
        left: -1px;
        top: 1010px;
    }

    .desc3{
        top: 1330px;
    }

    .types__btn3{
        left: -1px;
        top: 1555px;
    }

    .visit{
        display: none;
    }

    .visit__form{
        min-width: 340px;
    }

    .styles{
        background: transparent;
        padding: 120px 17px 0;
    }

    .styles__box{
        max-width: 340px;
    }

    .styles__title{
        font-size: 22px;
        margin-bottom: 24px;
        text-align: center;
    }

    .styles__img_mobile{
        display: block;
    }

    .styles__list, .styles__box_img{
        display: none;
    }

    .styles__slider_mobile{
        top: 310px;
        left: 32px;
    }

    .clients{
        display: none;
    }

    .questions__form{
        min-width: 375px;
        padding: 173px 17px 46px;
        margin: -645px 0 0;
        z-index: -1;
    }

    .questions__form_box{
        gap: 52px;
    }

    .questions__form_box_top{
        flex-direction: column;
        gap: 52px;
    }

    .questions__form_box_input_desc{
        width: 340px;
    }

    .questions__form_btn{
        margin-top: 59px;
        width: 340px;
        padding: 18px 144px;
    }

    .questions__form_checkbox{
        top: 515px;
        left: 17px;
    }

    .map{
        margin-top: 0;
        width: 374px;
        background: #131313;
    }

    .map__background{
        display: none;
    }

    .map__container{
        padding: 0 17px 49px;
        margin-top: -1px;
    }

    .map__contacts{
        width: 340px;
    }

    .map__img_mobile{
        display: block;
        width: 340px;
    }

    .map__contacts_text{
        font-size: 18px;
    }

    .map__contacts_imges{
        gap: 20px;
    }

    .map__contacts_img{
        width: 39px;
        height: 39px;
    }

    .map__img{
        display: none;
    }
}

@media (min-width:2500px){
    .welcome{
        background-image: url(../images/welcome_img_large.png); 
    }
}